body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: antiquewhite;
}

.user {
    padding: 10px;
    margin-left: 20px;
    text-align: center;
    margin-left: 300px;
}
.user li {
list-style: none;
}
/* .person {
    padding-right: 100px;
    display: table;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 50vh; */

.image-name {
    text-align: center;
    
}
.list {
    margin: 12px;
    font-size: 30px;
    text-align: center;
}
footer {
    width: 100%;
    padding: 10px;

}
.main-pic {
background: cyan;
width: 70%;
min-height: 340px;
display:  grid;
justify-content: center;
margin: 2em  auto;
border-bottom: 50%;
} 
.profile-pic {
    width: 250px;
    height: 200px;
    margin-top: 5px;
    border-radius: 20%;
}
.nav-link {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.list-group {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
}
.links {
    margin: 0,7em auto;
}